<mat-grid-list id="main-buttons" cols="2" rowHeight="5:2">
  <a routerLink="/rooms">
    <mat-grid-tile matRipple id="rooms-button" class="grid-button">
      <h1>Rooms</h1>
    </mat-grid-tile>
  </a>
  <a routerLink="/stock">
  <mat-grid-tile matRipple id="buy-button" class="grid-button">
    <h1>Stock</h1>
  </mat-grid-tile>
  </a>
  <a routerLink="/wishlist">
  <mat-grid-tile matRipple id="wishlist-button" class="grid-button">
    <h1><span style="font-size: 1.3em">W</span>ish List</h1>
  </mat-grid-tile>
  </a>
  <a routerLink="/tasks">
  <mat-grid-tile matRipple id="tasks-button" class="grid-button">
    <h1>
      <span style="font-size: 1.3em">T</span>idy
      <span style="font-size: 1.3em">T</span>asks
    </h1>
  </mat-grid-tile>
  </a>
</mat-grid-list>
